.link-button {
  background-color: "transparent";
  cursor: "pointer";
  text-decoration: "underline";
  display: "inline";
  margin: 0;
  padding: 0;
  color: "RED";
}
.stage .genbtn {
  height: max-content;
}

.stage {
  background-color: khaki;
  height: 1000px;
  width: 1000;
}
